#top-panel, #side-panel{
    position: fixed;
    height: fit-content;
    width: fit-content;

}
#top-panel{
    left: 200px;
    top: 0px;
}
#side-panel{
    left: 300px;
    top: 100px;
}
#top-panel:hover, #side-panel:hover{
    cursor: move;
}

#image-container{
    display: block;
    position: absolute;
    width: 100%;
    height: fit-content;
}
#image-container:hover{
    cursor: pointer;
}
#canvas{
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 50px;
}
#canvas:hover{
    cursor: crosshair;
}
.point{
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
}
.point:hover{
    cursor: move;
}